= render 'shared/header2'
%main.single-main
  %section.l--single
    %h2.l--single--head 新規登録
    .l--single--inner
      .l--single--inner__content
        = link_to new_users_registrations_path, class: "btn-default btn-mail" do
          = fa_icon 'envelope icon-mail'
          メールアドレスで登録
        %button#facebook-login.btn-default.btn-sns.btn-sns-facebook
          = fa_icon "facebook", class: "btn-sns-facebook__icon"
          Facebookで登録
        %button#google-login.btn-default.btn-sns.btn-sns-google
          = fa_icon "google", class: "btn-sns-google__icon"
          Googleで登録
= render 'shared/footer2'
