/ ヘッダー
= render partial: "shared/header"

/ ヘッダーここまで
/ パンくずリスト
%nav.bread-crumb
  %ul
    %li.item-scope
      = link_to "メルカリ", items_path
      %i.fa.fa-chevron-right
    %li.item-scope
      = link_to "マイページ", items_path
/ パンくずリスト
.l-content
  .l-content-container
    %form.l-single-inner{action: "https://www.mercari.com/jp/logout/", method: "POST", novalidate: "novalidate"}
      .l-single-content
        = link_to "ログアウト",items_path, method: :delete, class: "header-logout-btn"
        / destroy_user_session_path



    = render partial: "shared/mypage-side"

= render partial: "shared/footer"
