/ ヘッダー
%header
  #header-innner
    .clearfix
      #header-logo
        = link_to items_path do
          = image_tag "/logo.png"
      %form#header-search-form
        %input{name: "search", placeholder: "    何かお探しですか?", type: "search"}/
        %i.fa.fa-search
    #header-nav-box.clearfix
      %nav#header-nav
        %ul#header-nav__list
          %li
            %h2
              = link_to items_path do
                %i.fa.fa-list
                %span カテゴリーから探す
          %li
            %h2
              = link_to items_path do
                %i.fa.fa-shopping-bag
                %span ブランドから探す
      #header-login
        %ul#header-login__nav
          %li
            = link_to "ログイン", items_path, class: "header-login-btn"
          %li
            = link_to "新規登録", items_path, class: "header-signup-btn"
/ ヘッダーここまで

/ パンくずリスト
%nav.bread-crumb
  %ul
    %li.item-scope
      = link_to "メルカリ", items_path
      %i.fa.fa-chevron-right
    %li.item-scope
      = link_to "マイページ", items_path
/ パンくずリスト





/ メインコンテンツ
.main-wrap
  %main.main-container.clearfix
    / メインコンテンツ メイン
    .main-contents
      %section.mypage-user-icon
        = link_to items_path do
          %figure
            = image_tag "users/avatar.jpg", width: "60", height: "60"
          %h2 ユーザネーム
          .mypage-user-icon__bottom
            .mypage-user-icon__bottom__eval
              評価
              %span 10
            .mypage-user-icon__bottom__exhibit
              出品数
              %span 50
      %section.mypage-tab-container-notification-todo
        %ul.mypage-tabs
          %li.active
            %h3
              = link_to items_path do
                お知らせ
                %span
          %li
            %h3
              = link_to items_path do
                やることリスト
                %span
        .tab-contents
          %ul#mypage-tab-notification.mypage-item-list.tab-pane.active
            %li
              = link_to items_path, class: "mypage-item-link" do
                %figure
                  = image_tag "users/mercari_profile.png"
                .mypage-item-body
                  .mypage-item-text 事務局から個別メッセージ「Googleログイン通知」
                  %time
                    %i.far.fa-clock.icon-time
                    %span 2 時間前
                %i.fa.fa-chevron-right.icon-arrow-right
            %li
              = link_to items_path, class: "mypage-item-link" do
                %figure
                  = image_tag "users/mercari_profile.png"
                .mypage-item-body
                  .mypage-item-text 事務局から個別メッセージ「Googleログイン通知」
                  %time
                    %i.far.fa-clock.icon-time
                    %span 2 時間前
                %i.fa.fa-chevron-right.icon-arrow-right
            %li
              = link_to items_path, class: "mypage-item-link" do
                %figure
                  = image_tag "users/mercari_profile.png"
                .mypage-item-body
                  .mypage-item-text 事務局から個別メッセージ「Googleログイン通知」
                  %time
                    %i.far.fa-clock.icon-time
                    %span 2 時間前
                %i.fa.fa-chevron-right.icon-arrow-right
            %li
              = link_to items_path, class: "mypage-item-link" do
                %figure
                  = image_tag "users/mercari_profile.png"
                .mypage-item-body
                  .mypage-item-text 事務局から個別メッセージ「Googleログイン通知」
                  %time
                    %i.far.fa-clock.icon-time
                    %span 2 時間前
                %i.fa.fa-chevron-right.icon-arrow-right
            %li
              = link_to items_path, class: "mypage-item-link" do
                %figure
                  = image_tag "users/mercari_profile.png"
                .mypage-item-body
                  .mypage-item-text 事務局から個別メッセージ「Googleログイン通知」
                  %time
                    %i.far.fa-clock.icon-time
                    %span 2 時間前
                %i.fa.fa-chevron-right.icon-arrow-right
            %li.mypage-go-list
              = link_to "一覧を見る", items_path
      %section.mypage-tab-container
        %h2.mypage-tab-head 購入した商品
        %ul.mypage-tabs
          %li.active
            %h3
              = link_to items_path do
                取引中
                %span
          %li
            %h3
              = link_to items_path do
                過去の取引
                %span
        .tab-content
          %ul#mypage-tab-transaction-now.mypage-item-list.tab-pane.active
            %li.mypage-item-not-found 取引中の商品はありません
    / メインコンテンツ メイン ここまで


    / メインコンテンツ サイド
    .main-side
      %nav.mypage-nav
        %ul.mypage-nav__list
          %li
            = link_to items_path, class: "mypage-nav__list__item active" do
              マイページ
              %i.fa.fa-chevron-right
          %li
            = link_to items_path, class: "mypage-nav__list__item" do
              お知らせ
              %i.fa.fa-chevron-right
          %li
            = link_to items_path, class: "mypage-nav__list__item" do
              やることリスト
              %i.fa.fa-chevron-right
          %li
            = link_to items_path, class: "mypage-nav__list__item" do
              いいね!一覧
              %i.fa.fa-chevron-right
          %li
            = link_to items_path, class: "mypage-nav__list__item" do
              出品する
              %i.fa.fa-chevron-right
          %li
            = link_to items_path, class: "mypage-nav__list__item" do
              出品した商品 -出品中-
              %i.fa.fa-chevron-right
          %li
            = link_to items_path, class: "mypage-nav__list__item" do
              出品した商品 -出品中-
              %i.fa.fa-chevron-right
          %li
            = link_to items_path, class: "mypage-nav__list__item" do
              出品した商品 -取引中-
              %i.fa.fa-chevron-right
          %li
            = link_to items_path, class: "mypage-nav__list__item" do
              出品した商品 -売却済-
              %i.fa.fa-chevron-right
          %li
            = link_to items_path, class: "mypage-nav__list__item" do
              購入した商品 -取引中-
              %i.fa.fa-chevron-right
          %li
            = link_to items_path, class: "mypage-nav__list__item" do
              購入した商品 -過去の取引-
              %i.fa.fa-chevron-right
          %li
            = link_to items_path, class: "mypage-nav__list__item" do
              ニュース一覧
              %i.fa.fa-chevron-right
          %li
            = link_to items_path, class: "mypage-nav__list__item" do
              評価一覧
              %i.fa.fa-chevron-right
          %li
            = link_to items_path, class: "mypage-nav__list__item" do
              ガイド
              %i.fa.fa-chevron-right
          %li
            = link_to items_path, class: "mypage-nav__list__item" do
              お問い合わせ
              %i.fa.fa-chevron-right
        %h3.mypage-nav__list__head メルペイ
        %ul.mypage-nav__list
          %li
            = link_to items_path, class: "mypage-nav__list__item" do
              売上申請
              %i.fa.fa-chevron-right
          %li
            = link_to items_path, class: "mypage-nav__list__item" do
              ポイント
              %i.fa.fa-chevron-right
        %h3.mypage-nav__list__head 設定
        %ul.mypage-nav__list
          %li
            = link_to items_path, class: "mypage-nav__list__item" do
              プロフィール
              %i.fa.fa-chevron-right
          %li
            = link_to items_path, class: "mypage-nav__list__item" do
              発送元・お届け先変更
              %i.fa.fa-chevron-right
          %li
            = link_to items_path, class: "mypage-nav__list__item" do
              支払い方法
              %i.fa.fa-chevron-right
          %li
            = link_to items_path, class: "mypage-nav__list__item" do
              メール/パスワード
              %i.fa.fa-chevron-right
          %li
            = link_to items_path, class: "mypage-nav__list__item" do
              本人情報
              %i.fa.fa-chevron-right
          %li
            = link_to items_path, class: "mypage-nav__list__item" do
              電話番号の確認
              %i.fa.fa-chevron-right
          %li
            = link_to items_path, class: "mypage-nav__list__item" do
              ログアウト
              %i.fa.fa-chevron-right
    / メインコンテンツ サイドここまで
/ メインコンテンツここまで






/ 補足情報
%aside.app-banner
  .app-banner__mobile
    = link_to items_path do
      %figure.app-banner__icon
        = image_tag "/mercari_icon.png", width: "50"
      .app-banner__text
        スマホかんたんフリマアプリ
        %span 今すぐ無料ダウンロード!
/ 補足情報 ここまで
/ フッター
%footer#footer-wrap
  %nav#footer-nav.clearfix
    .footer-cell
      %h2.footer-head メルカリについて
      %ul
        %li
          = link_to "会社概要(運営会社)", items_path
        %li
          = link_to "会社概要(運営会社)", items_path
        %li
          = link_to "会社概要(運営会社)", items_path
        %li
          = link_to "会社概要(運営会社)", items_path
    .footer-cell
      %h2.footer-head メルカリについて
      %ul
        %li
          = link_to "会社概要(運営会社)", items_path
        %li
          = link_to "会社概要(運営会社)", items_path
        %li
          = link_to "会社概要(運営会社)", items_path
        %li
          = link_to "会社概要(運営会社)", items_path
    .footer-cell
      %h2.footer-head メルカリについて
      %ul
        %li
          = link_to "会社概要(運営会社)", items_path
        %li
          = link_to "会社概要(運営会社)", items_path
        %li
          = link_to "会社概要(運営会社)", items_path
        %li
          = link_to "会社概要(運営会社)", items_path
    .footer-cell
      %h2.footer-head メルカリについて
      %ul
        %li
          = link_to "会社概要(運営会社)", items_path
        %li
          = link_to "会社概要(運営会社)", items_path
        %li
          = link_to "会社概要(運営会社)", items_path
        %li
          = link_to "会社概要(運営会社)", items_path
    .footer-cell
      %h2.footer-head メルカリについて
      %ul
        %li
          = link_to "会社概要(運営会社)", items_path
        %li
          = link_to "会社概要(運営会社)", items_path
        %li
          = link_to "会社概要(運営会社)", items_path
        %li
          = link_to "会社概要(運営会社)", items_path
  .footer-bottom
    = link_to items_path do
      = image_tag "/footer-logo.png", height: "33", width: "124"
    %span.copy-right
      %small ©︎ 2019 Mercari
/ フッター ここまで
/ 出品ボタン
= link_to items_path, class: "exhibit-btn" do
  %div 出品
  %i.fa.fa-camera
/ 出品ボタン ここまで
