%header
  #header-innner
    .clearfix
      #header-logo
        = link_to items_path do
          = image_tag "/logo.png"
      %form#header-search-form
        %input{name: "search", placeholder: "    何かお探しですか?", type: "search"}/
        %i.fa.fa-search
    #header-nav-box.clearfix
      %nav#header-nav
        %ul#header-nav__list
          %li
            %h2
              = link_to items_path do
                %i.fa.fa-list
                %span カテゴリーから探す
          %li
            %h2
              = link_to items_path do
                %i.fa.fa-shopping-bag
                %span ブランドから探す
      #header-login
        %ul#header-login__nav
          - if user_signed_in?
            %li
              = link_to '#', class: "header-announce-btn" do
                %i.fa.fa-bell.font
                %span お知らせ
            %li
              = link_to '#', class: "header-todo-btn" do
                %i.fa.fa-check.font
                %span やることリスト
            %li
              = link_to '#', class: "header-mypage-btn" do
                %i.fa.fa-user-circle.font
                %span マイページ
          - else
            %li
              = link_to "ログイン", new_user_session_path, class: "header-login-btn"
            %li
              = link_to "新規登録",  new_users_registrations_path, class: "header-signup-btn"
