= render 'shared/header2'
%main.single--main
  .login__panel
    .no__account
      %p アカウントをお持ちではない方はこちら
      = link_to '新規会員登録', new_user_registration_path
    .login__to__sns
      %button#facebook-login.btn-default.btn-sns.btn-sns-facebook
        = fa_icon "facebook", class: "btn-sns-facebook__icon"
        Facebookでログイン
      %button#google-login.btn-default.btn-sns.btn-sns-google
        = image_tag("google.png", class: "btn-sns-google__icon")
        Googleでログイン
    = form_for(resource, as: resource_name, url: new_user_session_path(resource_name)) do |f|
      .login__form--inner
        .login__form--inner__group
          = f.email_field :email, autofocus: true, autocomplete: "email", class: "login-input-text input-default"
        .login__form--inner__group
          = f.password_field :password, autocomplete: "current-password", class: "login-input-text input-default"
        .actions
          = f.submit "ログイン", class: "btn-default btn-red login-submit"
        = link_to 'パスワードをお忘れの方', '#', class: "login__form--inner__forget"
= render 'shared/footer2'
