= render 'shared/header2'
%main.single--main
  .login__panel
    .no__account
      %p アカウントをお持ちではない方はこちら
      = link_to '新規会員登録', new_user_registration_path
    .login__to__sns
      = link_to user_facebook_omniauth_authorize_path, class: "btn-default btn-sns btn-sns-facebook", id: "facebook-login" do
        = fa_icon "facebook", class: "btn-sns-facebook__icon"
        Facebookでログイン
      = link_to user_google_oauth2_omniauth_authorize_path, class: "btn-default btn-sns btn-sns-google", id: "google-login" do
        = fa_icon "google", class: "btn-sns-google__icon"
        Googleでログイン
    = form_for(resource, as: resource_name, url: new_user_session_path(resource_name)) do |f|
      .login__form--inner
        .login__form--inner__group
          = f.email_field :email, autofocus: true, autocomplete: "email", class: "login-input-text input-default"
        .login__form--inner__group
          = f.password_field :password, autocomplete: "current-password", class: "login-input-text input-default"
        .actions
          = f.submit "ログイン", class: "btn-default btn-red login-submit"
        = link_to 'パスワードをお忘れの方', '#', class: "login__form--inner__forget"
= render 'shared/footer2'

= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path


= image_tag("google.png", class: "btn-sns-google__icon")
