= render partial: "shared/header"

%section#main-image
  = image_tag "/mainImage.jpg"

%section#pick-up-container
  %h2.pick-up-head ピックアップカテゴリー
  %section.items-box-container.clearfix
    %h3.items-head
      = link_to "レディース 新着アイテム", items_path
    = render partial: 'index', locals: { items: @women_items }
    .view-all.clearfix
      = link_to "全ての商品を見る", items_path

  %section.items-box-container.clearfix
    %h3.items-head
      = link_to "メンズ 新着アイテム", items_path
    = render partial: 'index', locals: { items: @men_items }
    .view-all.clearfix
      = link_to "全ての商品を見る", items_path


%section#pick-up-container
  %h2.pick-up-head ピックアップブランド
  %section.items-box-container.clearfix
    %h3.items-head
      = link_to "コーチ 新着アイテム", items_path
    / = render partial: 'index'
    .view-all.clearfix
      = link_to "全ての商品を見る", items_path

  %section.items-box-container.clearfix
    %h3.items-head
      = link_to "ルイヴィトン 新着アイテム", items_path
    / = render partial: 'index'
    .view-all.clearfix
      = link_to "全ての商品を見る", items_path

/ 補足情報
= render partial: "shared/footer"
