/ ヘッダー
%header
  #header-innner
    .clearfix
      #header-logo
        = link_to items_path do
          = image_tag "/logo.png"
      %form#header-search-form
        %input{name: "search", placeholder: "    何かお探しですか?", type: "search"}/
        %i.fa.fa-search
    #header-nav-box.clearfix
      %nav#header-nav
        %ul#header-nav__list
          %li
            %h2
              = link_to items_path do
                %i.fa.fa-list
                %span カテゴリーから探す
          %li
            %h2
              = link_to items_path do
                %i.fa.fa-shopping-bag
                %span ブランドから探す
      #header-login
        %ul#header-login__nav
          %li
            = link_to "ログイン", items_path, class: "header-login-btn"
          %li
            = link_to "新規登録", items_path, class: "header-signup-btn"
/ ヘッダーここまで

/ パンくずリスト
%nav.bread-crumb
  %ul
    %li.item-scope
      = link_to "メルカリ", items_path
      %i.fa.fa-chevron-right
    %li.item-scope
      = link_to "マイページ", items_path
/ パンくずリスト


/ 商品詳細セクション
#modal{style: "display:none;"}
  %h2 確認
  %p 削除すると二度と復活できません。
  %p 本当に削除しますか？
  = link_to item_path, method: :delete, class: "item-buy-btn modal", id: "modal" do
    この商品を削除する

.item-box-wrap
  / 商品詳細部分
  %section.item-box-container
    %h1.item-name
      = @item.name
    .item-main-content.clearfix
      .item-photo
        .item-photo__stage
          .item-photo__stage__item
            .item-photo__stage__item__inner
              = image_tag @item.images[0]
        .item-photo__dots
          - @item.images.each do |image|
            .item-photo__dots__dot
              .item-photo__dots__dot__inner
                = image_tag image
      %table.item-detail-table
        %tbody
          %tr
            %th 出品者
            %td
              = link_to items_path do
                congo  引っ越し売り切りスパート！
              %div
                .item-user-ratings
                  %i.fa.fa-angellist
                  %span 15
                .item-user-ratings
                  %i.fa.fa-angellist
                  %span 0
                .item-user-ratings
                  %i.fa.fa-angellist
                  %span 0
          %tr
            %th カテゴリー
            %td
              = link_to items_path do
                %div レディース
              = link_to items_path do
                .item-detail-table-sub-category
                  %i.fa.fa-chevron-right
                  トップス
              = link_to items_path do
                .item-detail-table-sub-category
                  %i.fa.fa-chevron-right
                  Tシャツ/カットソー(七分/長袖)
          %tr
            %th ブランド
            %td
              = link_to items_path do
                %div シップス
          %tr
            %th 商品のサイズ
            %td
              = @item.size_i18n
          %tr
            %th 商品の状態
            %td
              = @item.condition_i18n
          %tr
            %th 配送料の負担
            %td
              = @item.delivery_fee_i18n
          %tr
            %th 配送の方法
            %td
              = @item.delivery_way_i18n
          %tr
            %th 配送元地域
            %td
              = @item.delivery_area_i18n
          %tr
            %th 発送日の目安
            %td
              = @item.delivery_date_i18n
    .item-price-box
      %span.item-price.bold
        ¥
        = inserting_to_commma(@item.price)
      %span.item-tax (税込)
      %span.item-shipping-fee 送料込み
    .item-description
      %p.item-description__inner
        = @item.description
    -# - if current_user.id == @item.user_id
    = link_to edit_item_path(params[:id]), class: "item-buy-btn" do
      商品の編集
    = link_to "#modal", class: "item-buy-btn modal", id: "modal" do
      この商品を削除する
    -# - else
    = link_to items_path, class: "item-buy-btn" do
      購入画面へ進む
    .item-button-container.clearfix
      .item-button-left
        %button.item-button
          %i.fa.fa-heart
          %span いいね!
          %span.fade-in-down{"data-num" => "like"} 0
        %button.item-button.item-button-report.clearfix
          %i.fa.fa-flag
          %span 不適切な商品の報告
      .item-button-right
        = link_to items_path do
          %i.fa.fa-lock
          %span あんしん・あんぜんへの取り組み
  / 商品詳細部分 ここまで
  / 商品コメント部分
  .item-detail-message
    .message-container
      / 各ユーザのコメント部分 ここまで
      .message-content
        %ul.message-items
          %li.clearfix
            = link_to items_path, class: "message-user" do
              %figure
                %div
                  = image_tag "users/avatar.jpg"
                %figcaption.bold ユーザネーム
            .message-body
              .message-body-text
                初めまして
                %br/
                着丈、身幅教えて頂けますか？
                %br/
                又、どのくらい着用されましたか？
                %br/
                差し支えなければ教えて下さい。
              .clearfix.message-icons
                %time.message-icon-left
                  %i.far.fa-clock
                  %span 19 時間前
                .message-icon-right
                  %form
                    %button{:type => "submit"}
                      %i.fa.fa-flag
          %li.clearfix
            = link_to items_path, class: "message-user" do
              %figure
                %div
                  = image_tag "users/avatar.jpg"
                %figcaption.bold ユーザネーム
            .message-body
              .message-body-text
                初めまして
                %br/
                着丈、身幅教えて頂けますか？
                %br/
                又、どのくらい着用されましたか？
                %br/
                差し支えなければ教えて下さい。
              .clearfix.message-icons
                %time.message-icon-left
                  %i.far.fa-clock
                  %span 19 時間前
                .message-icon-right
                  %form
                    %button{type: "submit"}
                      %i.fa.fa-flag
          %li.clearfix
            = link_to items_path, class: "message-user" do
              %figure
                %div
                  = image_tag "users/avatar.jpg"
                %figcaption.bold ユーザネーム
            .message-body
              .message-body-text
                初めまして
                %br/
                着丈、身幅教えて頂けますか？
                %br/
                又、どのくらい着用されましたか？
                %br/
                差し支えなければ教えて下さい。
              .clearfix.message-icons
                %time.message-icon-left
                  %i.far.fa-clock
                  %span 19 時間前
                .message-icon-right
                  %form
                    %button{type: "submit"}
                      %i.fa.fa-flag
      / 各ユーザのコメント部分 ここまで
      / コメントフォーム
      .message-content
        %form.message-form
          %p
            相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
          %textarea.textarea-default{name: "body", type: "text", value: ""}
          %button.message-submit.btn-default{type: "submit"}
            %span コメントする
      / コメントフォーム ここまで
  / 商品コメント部分 ここまで
/ 商品詳細セクション




/ 補足情報
%aside.app-banner
  .app-banner__mobile
    = link_to items_path do
      %figure.app-banner__icon
        = image_tag "/mercari_icon.png", width: "50"
      .app-banner__text
        スマホかんたんフリマアプリ
        %span 今すぐ無料ダウンロード!
/ 補足情報 ここまで
/ フッター
%footer#footer-wrap
  %nav#footer-nav.clearfix
    .footer-cell
      %h2.footer-head メルカリについて
      %ul
        %li
          = link_to "会社概要(運営会社)", items_path
        %li
          = link_to "会社概要(運営会社)", items_path
        %li
          = link_to "会社概要(運営会社)", items_path
        %li
          = link_to "会社概要(運営会社)", items_path
    .footer-cell
      %h2.footer-head メルカリについて
      %ul
        %li
          = link_to "会社概要(運営会社)", items_path
        %li
          = link_to "会社概要(運営会社)", items_path
        %li
          = link_to "会社概要(運営会社)", items_path
        %li
          = link_to "会社概要(運営会社)", items_path
    .footer-cell
      %h2.footer-head メルカリについて
      %ul
        %li
          = link_to "会社概要(運営会社)", items_path
        %li
          = link_to "会社概要(運営会社)", items_path
        %li
          = link_to "会社概要(運営会社)", items_path
        %li
          = link_to "会社概要(運営会社)", items_path
    .footer-cell
      %h2.footer-head メルカリについて
      %ul
        %li
          = link_to "会社概要(運営会社)", items_path
        %li
          = link_to "会社概要(運営会社)", items_path
        %li
          = link_to "会社概要(運営会社)", items_path
        %li
          = link_to "会社概要(運営会社)", items_path
    .footer-cell
      %h2.footer-head メルカリについて
      %ul
        %li
          = link_to "会社概要(運営会社)", items_path
        %li
          = link_to "会社概要(運営会社)", items_path
        %li
          = link_to "会社概要(運営会社)", items_path
        %li
          = link_to "会社概要(運営会社)", items_path
  .footer-bottom
    = link_to items_path do
      = image_tag "/footer-logo.png", height: "33", width: "124"
    %span.copy-right
      %small ©︎ 2019 Mercari
/ フッター ここまで
/ 出品ボタン
= link_to items_path, class: "exhibit-btn" do
  %div 出品
  %i.fa.fa-camera
/ 出品ボタン ここまで
