/ ヘッダー
= render partial: "shared/header"

/ ヘッダーここまで

/ パンくずリスト
- breadcrumb :show
%nav.bread-crumb
  %ul
    %li.item-scope
      = breadcrumbs separator: " &rsaquo; ", link_current: true
/ パンくずリスト

/ メインコンテンツ
.main-wrap
  %main.main-container.clearfix
    / メインコンテンツ メイン
    .main-contents
      %section.mypage-tab-container-notification-todo
        %ul.mypage-tabs
          %li.active
            %h3
              = link_to items_path do
                出品中
                %span
          %li
            %h3
              = link_to items_path do
                売却済み
                %span
        .tab-contents
          %ul#mypage-tab-notification.mypage-item-list.tab-pane.active
            - @items.each do |item|
              %li
                = link_to item_path(item), class: "mypage-item-link" do
                  %figure
                    = image_tag item.images[0]
                  .mypage-item-body
                    .mypage-item-text
                      = item.name
                    %time
                      %i.far.fa-heart.icon-time
                      %span 10
                    %time
                      %i.far.fa-comment-alt.icon-time
                      %span 3
                    .mypage-item-status 公開中
                  %i.fa.fa-chevron-right.icon-arrow-right

            %li.mypage-go-list
              = link_to "一覧を見る", items_path
    / メインコンテンツ メイン ここまで


    / メインコンテンツ サイド
    = render partial: "shared/mypage-side"
    / メインコンテンツ サイドここまで
/ メインコンテンツここまで

= render partial: "shared/footer"
