= render partial: "shared/header"

%section#pick-up-container

  %section.items-box-container.clearfix
    %h3.items-head-category
      = @category.name
      の商品一覧
    .items-box-contents.clearfix
      %section.items-box
        = link_to items_path do
          %figure.items-box__image
            = image_tag "/item.jpg"
          .items-box__body
            %h3.items-box__body__name チェックロングタイプ
            .items-box__body__info.clearfix
              .items-box__body__info__price ¥890
              .items-box__body__info__likes
                %i.fa.fa-heart
                %span 2
              %p.items-box__body__info__tax (税込)
      %section.items-box
        = link_to items_path do
          %figure.items-box__image
            = image_tag "/item.jpg"
          .items-box__body
            %h3.items-box__body__name チェックロングタイプ
            .items-box__body__info.clearfix
              .items-box__body__info__price ¥890
              .items-box__body__info__likes
              %p.items-box__body__info__tax (税込)
      %section.items-box
        = link_to items_path do
          %figure.items-box__image
            = image_tag "/item.jpg"
          .items-box__body
            %h3.items-box__body__name チェックロングタイプ
            .items-box__body__info.clearfix
              .items-box__body__info__price ¥890
              .items-box__body__info__likes
              %p.items-box__body__info__tax (税込)
      %section.items-box
        = link_to items_path do
          %figure.items-box__image
            = image_tag "/item.jpg"
          .items-box__body
            %h3.items-box__body__name チェックロングタイプ
            .items-box__body__info.clearfix
              .items-box__body__info__price ¥890
              .items-box__body__info__likes
              %p.items-box__body__info__tax (税込)
    .view-all.clearfix
      = link_to "全ての商品を見る", items_path

/ 補足情報
= render partial: "shared/footer"
