= render partial: "shared/header"

%section#pick-up-container

  %section.items-box-container.clearfix
    %h3.items-head-category
      = @category.name
      の商品一覧
    .items-box-contents.clearfix
    - if @items
      - @items.each do |items|
        - items.each do |item|
          %section.items-box
            = link_to item_path(item) do
              %figure.items-box__image
                = image_tag item.images[0]
              .items-box__body
                %h3.items-box__body__name
                  = item.name
                .items-box__body__info.clearfix
                  .items-box__body__info__price
                    ¥
                    = inserting_to_commma(item.price)
                  .items-box__body__info__likes
                    %i.fa.fa-heart
                    %span 2
                  %p.items-box__body__info__tax (税込)

/ 補足情報
= render partial: "shared/footer"
