= render 'shared/header2'
%main.single-main
  %section.l--single
    %h2.l--single--head 新規登録
    .l--single--inner
      .l--single--inner__content
        = link_to new_user_registration_path, class: "btn-default btn-mail" do
          = fa_icon 'envelope icon-mail'
          メールアドレスで登録
        = link_to user_facebook_omniauth_authorize_path, class: "btn-default btn-sns btn-sns-facebook" do
          .btn-sns-facebook__icon
            = fa_icon "facebook"
            Facebookで登録
        = link_to user_google_oauth2_omniauth_authorize_path, class: "btn-default btn-sns btn-sns-google" do
          = fa_icon "google"
          Googleで登録
= render 'shared/footer2'
